body{
    position: absolute;
    top: 50px;
    left: 150px;
    right: 0;
    bottom: 0;
    background-color: aqua;
    height: 2000px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(24, 110, 24);
    color: white;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

.logo p{
    font-size: xx-large;
    margin: 0px 30px;
    text-shadow: 5px 8px 2px black;
    padding: 3px 0px;
    width: max-content;
}

.header-menu{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-menu p{
    text-align: center;
}

.side-bar{
    position: fixed;
    width: 180px;
    top: 51px;
    left: 0;
    bottom: 0;
    background-color: rgb(58, 132, 58);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.close-side-bar{
    position: absolute;
    top: 3px;
    right: 1px;
    border: 0;
    background-color: rgb(58, 132, 58);
}

.header, .side-bar{
    box-shadow: 4px 4px 10px rgb(1, 43, 1);
}