body{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(196, 255, 196);
}

.header{
    height: 52px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(24, 110, 24);
    color: white;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    justify-content: space-between;
    flex-shrink: 0;
}

.logo{
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.algo-menu-button{
    width: 38px;
    height: 38px;
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: rgb(24, 110, 24);
    justify-content: center;
    cursor: pointer;
}

.algo-menu-button div{
    width: 100%;
    height: 3px;
    margin: 3px 0px;
    background-color: white;
}

.logo p{
    font-size: xx-large;
    margin: 0;
    padding: 6px 0px;
    width: max-content;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in;
}

.logo p:hover{
    text-shadow: 5px 5px 2px black;
}

.header-menu{
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-menu p{
    text-align: center;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in;
}

.header-menu p:hover{
    text-shadow: 3px 3px 4px black;
}

.side-bar{
    position: fixed;
    width: 180px;
    top: 51px;
    left: 0;
    bottom: 0;
    background-color: rgb(58, 132, 58);
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    display: none;
}

.side-bar a{
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.side-bar a:hover{
    text-shadow: 2px 2px 4px black;
}

.close-side-bar{
    position: absolute;
    font-size: x-large;
    height: min-content;
    margin: 0;
    top: 0px;
    right: 4px;
    border: 0;
    color: white;
    background-color: rgb(58, 132, 58);
    cursor: pointer;
}

.close-side-bar:hover{
    text-shadow: 0px 0px 6px black;
}

.header, .side-bar{
    box-shadow: 0px 4px 8px rgb(1, 43, 1);
}

/* This is where the looks of the content of the page is modified */

main{
    display: flex;
}

.left-content{
    flex: 1;
    background-color: aliceblue;
    height: max-content;
}

.right-content{
    flex: 2;
    background-color: rgb(222, 221, 221);
    height: max-content;
}