.gameLayout{
    padding-top: 6em;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.5) 45%, rgba(97, 137, 47, 1));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.overlay{
    z-index: 10;
    position: fixed;
    display: flex;
    height: 100%;
    right: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.9);
}

.difficultyOverlay{
    flex-direction: row;
    align-items: center;  
}

.difficultySection{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 10rem;
}

.difficultySection p{
    font-size: 3rem;
    text-align: center;
}

.difficultyOptions{
    display: flex;
    justify-content: center;
}

.algoDescription{
    position: relative;
    flex: 1;
    padding: 5rem;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10rem;
}

.algoDescription .infoTitle{
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: rgba(97, 137, 47, 1);
    font-weight: bold;
}

.nextOverlayButton{
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    margin: 2rem;
    background-color: rgba(97, 137, 47, 1);
    cursor: pointer;
}

.gameInstructions{
    text-align: right;
}

#difficulty, .setDifficultyButton{
    font-size: 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.setDifficultyButton{
    padding: 0 2rem;
}

.difficultyExplanation{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.difficultyExplanation div{
    margin-top: 2rem;
}

.countDown{
    visibility: hidden;
    justify-content: center;
    font-size: 30em;
    font-family: fantasy, 'Inter', sans-serif;
}

.winner{
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    flex-direction: column;
}

.tryAgainBtn{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 1em;
    background-color: rgba(97, 137, 47, 0);
    color: white;
    font-weight: bold;
    border: 5px solid rgba(97, 137, 47, 1);
    cursor: pointer;
}

.tryAgainBtn{
    margin-bottom: 10rem;
}

.computerSide{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    position: relative;
}

.algorithmDisplayed{
    margin: 0;
    text-align: center;
    background-color: rgba(32, 32, 32, 1);
    margin-bottom: 1rem;
    font-size: 2.5em;
}

.userSide{
    flex: 1;
    padding: 1rem;
}

.userBubbles{
    cursor: pointer;
}

@media (max-width: 950px){
    .difficultySection{
        display: none;
    }
    .gameInstructions{
        display: none;
    }
    .nextOverlayButton{
        display: block;
    }
    /* .difficultyOverlay{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: max-content;
    } */
    /*
    .algoDescription{
        padding: 2rem;
        font-size: 2rem;
        margin: 0;
    }
    .infoTitle{
        margin-top: 0;
    } */
    /* .difficultySection p{
        margin: 0;
        font-size: 1.2rem;   
    }
    #difficulty, .setDifficultyButton{
        font-size: 1rem;
    }
    .difficultyExplanation{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .difficultyExplanation div{
        margin: 0.5rem;
    } */
}