.gameLayout{
    padding-top: 6em;
    margin: 0;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 0.5) 35%, rgba(97, 137, 47, 1));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    display: flex;
    text-align: end;
}

.difficultyOverlay{
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    right: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.9);
}

.difficultyOverlay p{
    font-size: 3em;
}

#difficulty, .setDifficultyButton{
    font-size: 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.setDifficultyButton{
    padding: 0 2rem;
}

.countDown{
    z-index: 10;
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    font-size: 30em;
    height: 100%;
    right: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.9);
    font-family: fantasy, 'Inter', sans-serif;
}

.computerSide{
    width: 35%;
    padding: 1rem;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    position: relative;
}

.algorithmDisplayed{
    margin: -0.5em;
    text-align: left;
    background-color: rgba(32, 32, 32, 1);
    margin-left: -1em;
    margin-bottom: 2rem;
    font-size: 2.5em;
}

.userSide{
    flex: 1;
    padding: 1rem;
}

.userBubbles{
    cursor: pointer;
}