.homePage{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 7em;
}

.elementBox{
    margin: 0 4em;
    display: flex;
    padding: 3em 4em;
    justify-content: space-between;
    border-radius: 3em;
}

.elementBox p{
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.elementBox p span{
    font-weight: bold;
}

.challengeUser p{
    font-size: 3.5em;
}

.solve p, .learn p{
    font-size: 3.5em;
}

.elementImage{
    width: 40%;
    height: auto;
    object-fit: contain;
}

.challengeUser{
    margin-top: 10em;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 35%, rgba(97, 137, 47, 0.5));
}

.solve{
    background-image: linear-gradient(to right,  rgba(97, 137, 47, 0.5), rgba(34, 38, 41, 1) 70%);
}

.learn{
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 30%, rgba(97, 137, 47, 1));
}

.learn .elementImage{
    filter: brightness(120%);
    mix-blend-mode: screen;
}

.startButton{
    font-size: 2em;
    padding: 0.1em 0.6em;
    border-radius: 0.6em;
    align-self: center;
    margin-bottom: 3em;
    background-color: rgba(97, 137, 47, 1);
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.startButton .elementImage{
    width: 1.2em;
    height: auto;
}

.ready{
    display: flex;
    flex-direction: column;
    font-size: 2.1em;
    padding: 1em 5em;
    text-align: center;
    align-items: center;
    margin: 0;
    background-image: linear-gradient(to top, rgba(97, 137, 47, 0.4), rgba(32, 32, 32, 0));
    text-underline-offset: 0.2em;
}

.ready .readyQuestion{
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 2em;
}

.ready .orStart{
    font-weight: bold;
    text-decoration: 0.1em underline;
}

/* resizing of font for bigger devices */

/* @media (min-width:604px) and (max-width:800px){
    .challengeUser p{color: red; font-size: 10em;}
} */
/*
@media (max-width:431px){
    .challengeUser p{font-size: 5.4vw;}
}

@media (max-width:1019px){
    .solve p{font-size: 5.8vw;}
}

@media (max-width:464px){
    .solve p{font-size: 4.8vw;}
} */

@media (max-width:604px) and (width:700px){
    .challengeUser p{
        color: red;
        /* font-size: 5.5rem; */
    }
}

/* Mobile devices */

@media (max-width: 950px){
    .homePage{
        background-image: linear-gradient(to top, rgba(97, 137, 47, 1), rgba(32, 32, 32, 1) 70%);
        row-gap: 4rem;
    }

    .elementBox{
        margin: 0;
        background-image: none;
        flex-direction: column;
        align-items: center; 
    }

    .elementImage{
        width: 70%;
        height: auto;
        object-fit: contain;
    }

    .challengeUser p{
        font-size: 3rem;
        margin-top: 0.7em;
    }

    .solve{
        flex-direction: column-reverse;
    }

    .solve p, .learn p{
        font-size: 3em;
    }

    .startButton{
        flex-direction: row;
        margin-bottom: 8vh;
        background-color: rgba(32, 32, 32, 1);
    }
    
    .ready{
        background-image: none;
        text-shadow: 3px 3px 3px black;
        font-size: 1.2rem;
        padding: 1em 2.5em;
    }

    .ready .readyQuestion{
        font-size: 1.4rem;
    }

    .ready p{
        margin: 0.5rem;
    }
}