.homePage{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 7em;
}

.elementBox{
    margin: 0 4rem;
    display: flex;
    padding: 1rem 4rem;
    justify-content: space-between;
    border-radius: 3em;
}

.elementBox p{
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.elementBox p span{
    font-weight: bold;
}

.challengeUser p{
    font-size: 3.5em;
}

.solve p, .learn p{
    font-size: 3.5em;
}

.elementImage{
    width: 40%;
    height: auto;
    object-fit: contain;
}

.challengeUser{
    margin-top: 10em;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 35%, rgba(97, 137, 47, 0.5));
}

.solve{
    background-image: linear-gradient(to right,  rgba(97, 137, 47, 0.5), rgba(34, 38, 41, 1) 70%);
}

.learn{
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 30%, rgba(97, 137, 47, 1));
}

.learn .elementImage{
    filter: brightness(120%);
    mix-blend-mode: screen;
}

.startButton{
    font-size: 2rem;
    padding: 0.1rem 0.6rem;
    border-radius: 0.6em;
    align-self: center;
    margin-bottom: 3em;
    margin-top: -3em;
    background-color: rgba(97, 137, 47, 1);
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.startButton .elementImage{
    width: 1.2em;
    height: auto;
}

.ready{
    display: flex;
    flex-direction: column;
    font-size: 2.1em;
    padding: 1em 5em;
    text-align: center;
    align-items: center;
    margin: 0;
    text-underline-offset: 0.2em;
}

.ready p{
    margin: 1rem;
}

.ready .readyQuestion{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1em;
}

.ready .orStart{
    font-weight: bold;
    text-decoration: 0.1em underline;
}


/* resizing for Mobile devices */

@media (max-width: 950px){
    .homePage{
        background-image: linear-gradient(to top, rgba(97, 137, 47, 1), rgba(32, 32, 32, 1) 70%);
        row-gap: 4rem;
    }

    .elementBox{
        margin: 0;
        background-image: none;
        flex-direction: column;
        align-items: center; 
    }

    .elementImage{
        width: 70%;
        height: auto;
        object-fit: contain;
    }

    .challengeUser p{
        font-size: 3rem;
        margin-top: 1.5em;
    }

    .solve{
        flex-direction: column-reverse;
    }

    .solve p, .learn p{
        font-size: 3em;
    }

    .startButton{
        flex-direction: row;
        margin-bottom: 8vh;
        background-color: rgba(32, 32, 32, 1);
    }
    
    .ready{
        background-image: none;
        text-shadow: 3px 3px 3px black;
        font-size: 1.2rem;
        padding: 1em 2.5em;
    }

    .ready .readyQuestion{
        font-size: 1.4rem;
    }

    .ready p{
        margin: 0.5rem;
    }
}


/* resizing of font and containers for bigger devices */
@media (min-width:605px) and (max-width:763px){
    .challengeUser p, .solve p, .learn p{
        font-size: 4rem;
    }
}

@media (min-width:764px) and (max-width:950px){
    .challengeUser p, .solve p, .learn p{
        font-size: 5.4rem;
    }
    .ready .readyQuestion{
        font-size: 3.5rem;
    }
    .ready p{
        font-size: 3rem;
    }
}

@media (min-width:1180px) and (max-width:1448px){
    .challengeUser p, .solve p, .learn p{
        font-size: 4.2rem;
    }
    .ready .readyQuestion{
        font-size: 4rem;
    }
    .ready p{
        font-size: 3.5rem;
    }
}

@media (min-width:1449px) and (max-width:1845px){
    .challengeUser p, .learn p{
        font-size: 6rem;
    }
    .solve p{
        font-size: 5.6rem;
    }
    .ready .readyQuestion{
        font-size: 4.5rem;
    }
    .ready p{
        font-size: 4rem;
    }
    .elementBox{
        margin-left: 4.5em;
        margin-right: 4.5em;
    }
}

@media (min-width:1846px) and (max-width:2402px){
    .challengeUser p, .solve p, .learn p{
        font-size: 7.9rem;
    }
    .solve p{
        font-size: 7rem;
    }
    .ready .readyQuestion{
        font-size: 5rem;
    }
    .ready p{
        font-size: 4.5rem;
    }
    .elementBox{
        margin-left: 6em;
        margin-right: 6em;
    }
}

@media (min-width:2403px){
    .challengeUser p, .learn p{
        font-size: 10.9rem;
    }
    .solve p{
        font-size: 10rem;
    }
    .ready .readyQuestion{
        font-size: 5.5rem;
    }
    .ready p{
        font-size: 5rem;
    }
    .elementBox{
        margin-left: 7.5em;
        margin-right: 7.5em;
    }
}