@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.homePage{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.elementBox{
    margin: 6vh 4vw;
    display: flex;
    padding: 4vh;
    justify-content: space-between;
    border-radius: 4em;
}

.elementBox p{
    text-align: center;
    padding: 10px;
    margin: 0;
}

.elementBox p span{
    font-weight: bold;
}

.challengeUser p{
    font-size: 7.2vw;
}

.solve p, .learn p{
    font-size: 7vw;
}

.elementImage{
    width: 40%;
    height: auto;
    object-fit: contain;
}

.challengeUser{
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 35%, rgba(97, 137, 47, 0.5));
}

.solve{
    background-image: linear-gradient(to right,  rgba(97, 137, 47, 0.5), rgba(34, 38, 41, 1) 70%);
}

.learn{
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 30%, rgba(97, 137, 47, 0.5));
}

@media (max-width:699px){
    .challengeUser p{font-size: 6.2vw;}
}

@media (max-width:431px){
    .challengeUser p{font-size: 5.4vw;}
}

@media (max-width:1019px){
    .solve p{font-size: 5.8vw;}
}

@media (max-width:464px){
    .solve p{font-size: 4.8vw;}
}

/* Mobile devices */

@media (max-width: 425px){
    .homePage{
        background-image: linear-gradient(to top, rgba(97, 137, 47, 1), rgba(32, 32, 32, 1) 70%);
        row-gap: 10vh;
    }

    .elementBox{
        margin: 0;
        background-image: none;
        flex-direction: column;
        align-items: center;
    }

    .elementImage{
        width: 65%;
        height: auto;
        object-fit: contain;
    }

    .challengeUser p{
        margin-bottom: 4vh;
        font-size: 12vw;
    }

    .solve{
        flex-direction: column-reverse;
    }

    .solve p{
        margin-bottom: 6vh;
        font-size: 13vw;
    }

    .learn p{
        margin-bottom: 8vh;
        font-size: 13vw;
    }
}