@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.homePage{
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

.challengeUser{
    margin: 6vh 4vw;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 1) 35%, rgba(97, 137, 47, 0.5));
    display: flex;
    padding: 4vh;
    justify-content: space-between;
    border-radius: 4em;
}

.challengeUser p{
    text-align: center;
    font-size: 7.2vw;
    padding: 10px;
    margin: 0;
}

.headAlgo{
    width: 40%;
    height: auto;
    object-fit: contain;
}

@media (max-width:699px){
    .homePage{color: aqua;}
    .challengeUser p{font-size: 6.2vw;}
}

@media (max-width:431px){
    .homePage{color: red;}
    .challengeUser p{font-size: 5.4vw;}
}