@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body, .App{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to right, #202020 , #222629);
}