.bubbleSort{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.algorithm{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.temporaryBubble{
    flex: 1;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-around;
}

.valueToSortComputer p{
    padding: 0;
    margin: 0;
}

.valueToSortComputer, .tempBubble{
    cursor: not-allowed;
}

.valueToSort, .tempBubble{
    position: relative;
    display: inline-block;
    background-image: radial-gradient(rgba(63, 137, 174, 0.2) 55%, rgba(255, 255, 255, 0.8));
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 2.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.tempBubble{
    display: flex;
    width: 0.5rem;
    height: 0.5rem;
    margin: 1rem;
    justify-content: center;
}

.tempBubbleValue{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.bubbleDot{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 0;
    top: 1rem;
    right: 2.4rem;
}

.smallBubbleDot{
    top: 2.2rem;
    right: 1.8rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.arrowBrowser{
    visibility: hidden;
    position: absolute;
    height: 4rem;
    width: auto;
}

.second{
    filter: brightness(70%);
}

.arrowBrowserAnimate{
    animation: infinite arrowBrowserAnimation 1s ease-in-out;
}

.sortedValues{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Bubble Sort user */

.bubbleSortUser{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    justify-self: center;
    row-gap: 2rem;
}

.userCLickableBubbles{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.bubblePopAnimate{
    animation: popBubble 0.5s ease-in-out forwards;
}

.userAttempt{
    flex: 1;
    display: flex;
    font-size: 2.5rem;
    justify-content: space-evenly;
}

.userBubbles p{
    margin: 0;
}

.buttonWrapper{
    flex: 1;
    display: flex;
    justify-content: center;
}

.resetBtn{
    font-size: 1rem;
    height: 3rem;
    color: white;
    background-color: rgba(32,32,32, 0.5);
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* Animations */

@keyframes arrowBrowserAnimation{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.3em);
    }
}

@keyframes popBubble {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes moveBubbleRight {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(10rem);
    }
}
  
@keyframes moveBubbleLeft {
    0% {
        transform: translateX(0rem);
    }
    100% {
        transform: translateX(-10rem);
    }
}


/* Responsive Design */

@media (max-width: 1224px) {
    .valueToSort{
        width: 1.5rem;
        height: 1.5rem;
        padding: 2rem;
        font-size: 1.5rem;
    }
    .tempBubble{
        width: 0.8rem;
        height: 0.8rem;
        padding: 2rem;
    }
    .tempBubbleValue{
        font-size: 1rem;
    }
    .bubbleDot{
        width: 0.8rem;
        height: 0.8rem;
        top: 0.8rem;
        right: 1.8rem;
    } 
    .smallBubbleDot{
        top: 1.8rem;
        right: 1.2rem;
        width: 0.6rem;
        height: 0.6rem;
    }
    .arrowBrowser{
        margin-top: -0.5rem;
        height: 3rem;
        width: auto;
    }
    /* @keyframes moveBubbleRight {
        0% {
            transform: translateX(0rem);
        }
        100% {
            transform: translateX(9rem);
        }
    }
    @keyframes moveBubbleLeft {
        0% {
            transform: translateX(0rem);
        }
        100% {
            transform: translateX(-9rem);
        }
    } */
}

@media (max-width: 860px) {
    .valueToSortComputer{
        width: 1.1rem;
        height: 1.1rem;
        padding: 1.6rem;
        font-size: 1.2rem;
    }
    .tempBubble{
        width: 0.5rem;
        height: 0.5rem;
        padding: 1.3rem;
    }
    .temporaryBubble{
        font-size: 1.2rem;
    }
    .tempBubbleValue{
        font-size: 0.8rem;
    }
    .bubbleDot{
        width: 0.6rem;
        height: 0.6rem;
        top: 0.7rem;
        right: 1.5rem;
    } 
    .smallBubbleDot{
        top: 1.4rem;
        right: 1.1rem;
        width: 0.4rem;
        height: 0.4rem;
    }
    .arrowBrowser{
        margin-top: -1rem;
        height: 2rem;
        width: auto;
    }
    .userBubbles{
        margin: 0 1rem;
    }
    .userCLickableBubbles{
        flex-wrap: wrap;
    }
    .sortedValues{
        margin-top: 0;
    }
    /* @keyframes moveBubbleRight {
        0% {
            transform: translateX(0rem);
        }
        100% {
            transform: translateX(6rem);
        }
    }
    @keyframes moveBubbleLeft {
        0% {
            transform: translateX(0rem);
        }
        100% {
            transform: translateX(-6rem);
        }
    } */
}

@media (max-width: 700px) {
    .valueToSortComputer{
        width: 0.8rem;
        height: 0.8rem;
        padding: 1rem;
        font-size: 0.8rem;
    }
    .tempBubble{
        width: 0.2rem;
        height: 0.2rem;
        padding: 1rem;
    }
    .temporaryBubble{
        font-size: 1rem;
    }
    .tempBubbleValue{
        font-size: 0.5rem;
    }
    .bubbleDot{
        visibility: hidden;
    } 
    .arrowBrowser{
        margin-top: -1rem;
        height: 2rem;
        width: auto;
    }
    .userBubbles{
        margin: 0;
    }
    .userAttempt{
        font-size: 2rem;
    }
}

@media (max-width: 475px){
    .sortedValues{
        font-size: 1rem;
    }
    .userBubbles{
        margin: 0 0.8rem;
    }
    .userAttempt{
        font-size: 1.5rem;
    }
}