.bubbleSort{
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.algorithm{
    flex: 1;
}

.temporaryBubble{
    flex: 1;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.valueToSortComputer p{
    padding: 0;
    margin: 0;
}

.valueToSort, .tempBubble{
    position: relative;
    display: inline-block;
    background-image: radial-gradient(rgba(63, 137, 174, 0.2) 55%, rgba(255, 255, 255, 0.8));
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 3rem;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.tempBubble{
    display: flex;
    width: 0.5rem;
    height: 0.5rem;
    justify-content: center;
}

.tempBubbleValue{
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.bubbleDot{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 0;
    top: 1rem;
    right: 2.4rem;
}

.smallBubbleDot{
    top: 2.2rem;
    right: 1.8rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.arrowBrowser{
    visibility: hidden;
    position: absolute;
    height: 4rem;
    width: auto;
}

.second{
    filter: brightness(70%);
}

.arrowBrowserAnimate{
    animation: infinite arrowBrowserAnimation 1s ease-in-out;
}

.sortedValues{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    text-shadow: 3px 3px 2px green;
}

/* Bubble Sort user */

.bubbleSortUser{
    text-align: left;
}

.bubblePopAnimate{
    animation: popBubble 0.5s ease-in-out forwards;
}

.userAttempt{
    margin-top: 8rem;
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
}

.userBubbles p{
    margin: 0;
}

.buttonWrapper{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.resetBtn{
    font-size: 1rem;
    color: white;
    background-color: rgba(32,32,32, 0.5);
    padding: 1rem 3rem;
}

/* Animations */

@keyframes arrowBrowserAnimation{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.3em);
    }
}

@keyframes popBubble {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
}