.navBar,
.logo,
.links {
    display: flex;
}

.navBar {
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 2em;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(97, 137, 47, 1), rgba(32, 32, 32, 1));
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1.5em;
}

.navFont {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7em;
}

.navFont p {
    margin: 0;
    padding: 0;
    transition: text-shadow, scale 0.4s ease-in-out;
}

.navFont p:hover {
    text-shadow: 0px 0px 2px white;
    scale: 1.06;
}

.links {
    justify-content: space-between;
    column-gap: 1.5em;
    margin-right: 1.5em;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    width: 2em;
    height: 2em;
    justify-content: space-around;
}

.hamburgerMenu div {
    width: 100%;
    height: 0.2em;
    background-color: white;
}

.hamburgerMenu:hover {
    cursor: pointer;
}


/* menu for mobile */
@media (max-width: 950px) {   
    .links {
        display: none;
    }
}

@media (max-width: 371px){
    .navFont{
        font-size: 1.4em;
    }

    .navBar {
        padding-left: 1em;
        padding-right: 1em;
    }
}