.gameLayout{
    padding-top: 6em;
    margin: 0;
    background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.5) 45%, rgba(97, 137, 47, 1));
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: end;
}

.overlay{
    z-index: 10;
    position: fixed;
    display: flex;
    height: 100%;
    right: 0;
    left: 0;
    background-color: rgba(32, 32, 32, 0.9);
}

.difficultyOverlay{
    flex-direction: row;
}

.difficultySection{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.difficultySection p{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
}

.difficultyOptions{
    display: flex;
    justify-content: center;
}

.algoDescription{
    position: relative;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2em;
    text-align: left;
}

.algoDescription .infoTitle{
    font-family: 'Inter', sans-serif;
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: rgba(97, 137, 47, 1);
    font-weight: bold;
    margin: 0;
}

.nextOverlayButton{
    display: none;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
    margin-right: 0.5rem;
    width: fit-content;
    background-color: rgba(97, 137, 47, 1);
    cursor: pointer;
    align-self: flex-end;
}

.gameInstructions{
    text-align: right;
}

#difficulty, .setDifficultyButton{
    font-size: 2rem;
    border-radius: 0.8rem;
    cursor: pointer;
}

.setDifficultyButton{
    padding: 0 2rem;
}

.difficultyExplanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}

.difficultyExplanation div{
    margin-top: 2rem;
}

.countDown{
    visibility: hidden;
    justify-content: center;
    font-size: 30em;
    font-family: fantasy, 'Inter', sans-serif;
}

.winner{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7rem;
    flex-direction: column;
}

.tryAgainBtn{
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 1.5em;
    background-color: rgba(97, 137, 47, 0);
    color: white;
    font-weight: bold;
    border: 5px solid rgba(97, 137, 47, 1);
    cursor: pointer;
    text-decoration: none;
}

.computerSide{
    display: flex;
    flex: 1;
    padding: 1rem;
    position: relative;
}

.algorithmDisplayed{
    margin: 0;
    text-align: center;
    background-color: rgba(32, 32, 32, 1);
    font-size: 2.5em;
}

.userSide{
    display: flex;
    flex: 1.5;
    padding: 1rem;
}

.userBubbles{
    cursor: pointer;
}

/* Display the buttons and mobile layout */
@media (max-width: 1024px){
    .difficultySection{
        display: none;
        margin-top: 2em;
    }
    .gameInstructions{
        display: none;
    }
    .nextOverlayButton{
        display: block;
    }
    .algoDescription{
        text-align: left;
        font-size: 2.5rem;
    }
    .description, .instructions{
        margin-bottom: 0;
    }
    .difficultyExplanation{
        margin: 0;
        margin-top: 3rem;
    }
    .difficultyExplanation div{
        font-size: 1.1rem;
        margin: 1rem;
    }
    .winner{
        font-size: 5rem;
    }
    .tryAgainBtn{
        font-size: 1.5rem;
    }
    .algorithmDisplayed{
        font-size: 1.5em;
    }
}

/* hide the buttons and display the overlays */
@media (min-width: 1025px){
    .difficultySection{
        display: flex;
    }
    .gameInstructions{
        display: block;
    }
}

/* font resizing for overlay */
@media (max-width: 560px){
    .algoDescription{
        font-size: 2rem;
        padding: 1rem;
    }
    .winner{
        font-size: 3.5rem;
    }
    .tryAgainBtn{
        font-size: 1rem;
    }
}
@media (max-width: 330px){
    .algoDescription{
        font-size: 1.5rem;
        padding: 1.5rem;
    }
    .winner{
        font-size: 2rem;
    }
    .tryAgainBtn{
        font-size: 0.5rem;
    }
    .nextOverlayButton{
        font-size: 1.5rem;
    }
}
@media (max-width: 370px){
    .difficultySection p{
        font-size: 1.5rem;
    }
    #difficulty{
        font-size: 1rem;
    }
    .setDifficultyButton{
        font-size: 1rem;
    }
    .difficultyOptions{
        flex-wrap: wrap;
    }
    .difficultyExplanation{
        margin-top: 1rem;
    }
    .difficultyExplanation div{
        font-size: 1rem;
    }
    .winner{
        font-size: 2rem;
    }
    .tryAgainBtn{
        font-size: 1rem;
    }
    .nextOverlayButton{
        font-size: 1rem;
    }
}