/* NotFoundPage.css - Uses global CSS variables from index.css */

.notFound {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    flex: 1;
    padding-top: 15rem;
    justify-content: center;
    background-color: var(--background-color);
    font-family: var(--font-family-primary);
}

.notFoundContainer {
    margin: 1rem;
    font-family: var(--font-family-primary);
    font-size: 4rem;
    color: var(--text-primary);
    text-align: center;
}

.notFoundError {
    margin: 0;
    font-size: 10rem;
}

@media (max-width: 415px) {
    .notFoundError {
        font-size: 6rem;
    }
}