.specificAlgorithm{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    row-gap: 3rem;
    padding: 5em;
    padding-top: 8em;
    align-items: center;
}

.specificAlgorithm .name, .stepByStepContainer .algoSteps{
    font-size: 4rem;
    text-decoration: underline;
    font-weight: bold;
}

.simpleExplanation, .stepByStepContainer, .time, .algoImgContainer{
    padding: 3rem;
    border-radius: 2rem;
    background-image: linear-gradient(to right, rgba(32, 32, 32, 0.5) 40%, rgba(97, 137, 47, 0.5));
}

.algoImgContainer{
    display: flex;
    align-self: end;
}

.algoImgContainer img{
    width: 100%;
    border-radius: 1rem;
}

.specificAlgorithm .actionBtn{
    animation: pulse infinite ease-in-out 3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0px 0px 15px whitesmoke;
    }
    100% {
        transform: scale(1);
    }
}

/* mobile responsiveness */

@media (max-width: 350px) {
    .specificAlgorithm{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .simpleExplanation, .stepByStepContainer, .time, .algoImgContainer{
        padding: 1.5rem;
    }
    .simpleExplanation .name, .stepByStepContainer .algoSteps{
        font-size: 2rem;
    }
    .steps{
        padding-left: 0;
    }
}

@media (min-width: 351px) {
    .specificAlgorithm{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .simpleExplanation, .stepByStepContainer, .time, .algoImgContainer{
        padding: 1.5rem;
    }
    .simpleExplanation .name, .stepByStepContainer .algoSteps{
        font-size: 2rem;
    }
    .steps{
        padding-left: 0;
    }
}

@media (min-width: 700px) {
    .specificAlgorithm{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .simpleExplanation, .stepByStepContainer, .time, .algoImgContainer{
        padding: 1.5rem;
    }
    .simpleExplanation .name, .stepByStepContainer .algoSteps{
        font-size: 2.5rem;
    }
    .steps{
        padding-left: 1rem;
    }
}

@media (min-width: 700px) {
    .specificAlgorithm{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .simpleExplanation, .stepByStepContainer, .time, .algoImgContainer{
        padding: 2rem;
    }
    .simpleExplanation .name, .stepByStepContainer .algoSteps{
        font-size: 3rem;
    }
    .steps{
        padding-left: 1.5rem;
    }
}