.inProgress{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    padding-top: 7rem;
    justify-content: center;
}

.container{
    font-family: Stencil Std, fantasy;
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 1rem;
    padding: 5rem;
}

.container p{
    margin: 0;
    color: white;
    animation: colorChange 45s infinite;
    animation-delay: 5s;
}

.spin{
    display: inline-block;
    animation: spin 10s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorChange {
    0% {
      color: white;
      text-shadow: none;
    }
    25% {
      color: rgb(32,32,32);
      text-shadow: 0px 0px 3px white;
    }
    50% {
      color: green;
      text-shadow: none;
    }
    75% {
        color: rgb(32,32,32);
        text-shadow: 0px 0px 3px white;
    }
    100% {
      color: white;
      text-shadow: none;
    }
}

@media (max-width: 540px){
    .container{
        padding: 1rem;
        font-size: 4rem;
    }
}

@media (max-width: 330px){
    .container{
        padding: 0;
        font-size: 2rem;
    }
}