@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.navBar, .logo, .links{
    display: flex;
}

.navBar{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(97,137,47,1), rgba(0,0,0,0));
}

.logo{
    display: flex;
    align-items: center;
}

.navFont{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding-left: 30px;
}

.links{
    padding-right: 30px;
}

.hamburgerMenu{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 25px;
    justify-content: space-evenly;
}

.hamburgerMenu div{
    width: 100%;
    height: 2.5px;
    background-color: white;
}