@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.navBar, .logo, .links{
    display: flex;
}

.navBar{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(97,137,47,1), rgba(0,0,0,0));
}

.logo{
    display: flex;
    align-items: center;
}

.navFont{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding-left: 30px;
}

.navFont p{
    margin: 0;
    padding: 0;
    transition: background-color, scale 0.4s ease-in-out;
}

.navFont p:hover{
    background-color: rgb(63, 90, 31);
    scale: 1.06;
}

.links{
    padding-right: 30px;
}

.hamburgerMenu{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 25px;
    justify-content: space-around;
}

.hamburgerMenu div{
    width: 100%;
    height: 3px;
    background-color: white;
}

.hamburgerMenu:hover{
    cursor: pointer;
}

.algoMenu{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(97,137,47);
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 610px){
    .links{
        display: none;
    }

    .algoMenu{
        display: flex;
    }
}