.navBar,
.logo,
.links {
    display: flex;
}

.navBar {
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 30px 20px 30px 20px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(97, 137, 47, 1), rgba(32, 32, 32, 1));
}

.logo {
    display: flex;
    align-items: center;
}

.navFont {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5vh;
    padding-left: 30px;
}

.navFont p {
    margin: 0;
    padding: 0;
    transition: text-shadow, scale 0.4s ease-in-out;
}

.navFont p:hover {
    text-shadow: 0px 0px 2px white;
    scale: 1.06;
}

.links {
    padding-right: 30px;
}

.hamburgerMenu {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    justify-content: space-around;
}

.hamburgerMenu div {
    width: 100%;
    height: 3px;
    background-color: white;
}

.hamburgerMenu:hover {
    cursor: pointer;
}

.algoMenu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(97, 137, 47, 1));
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

.algoMenu h1{
    padding: 1vh 0px;
    font-size: fit-content;
}

.algoList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5vh;
}

.menuButtons{
    display: flex;
    justify-content: center;
}

.homeButtonMenu, .aboutButtonMenu{
    background-color: #202020;
    border: 0;
    color: white;
    padding: 10px 0;
    font-size: large;
    font-weight: bold;
    flex: 1;
}

.goBackArrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 4vh;
    height: auto;
    padding-left: 5vw;
    padding-top: 5vw;
    filter: invert(100%);
}

/* menu for mobile */
@media (max-width: 626px) {
    .algoMenu {
        height: 100vh;
        width: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .links {
        display: none;
    }

    .goBackArrow{
        display: block;
        padding: 7.5vw;
    }

    .menuButtons{
        display: flex;
    }

    .algoList{
        display: flex;
        flex-direction: column;
        row-gap: 0;
        flex: 1;
    }
}

/* menu for rest of devices */

@media (min-width: 627px){
    .menuButtons{
        display: none;
    }

    .goBackArrow{
        display: none;
    }

    .algoMenu h1{
        padding: 1.5vw 0px;
        font-size: 3vh;
        text-decoration: underline;
        font-weight: bold;
        text-underline-offset: 1vh;
    }

    .algoMenu {
        position: fixed;
        display: flex;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom, rgba(32, 32, 32, 1), rgba(97, 137, 47, 1));
        right: 80%;
        top: 85px;
    }

    .algoList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 0;
        font-size: 2.8vh;
    }
}