.arrowBrowser{
    visibility: hidden;
    position: fixed;
    height: 4rem;
    width: auto;
    z-index: 100;
}

.second{
    filter: brightness(70%);
}

.arrowBrowserAnimate{
    animation: infinite arrowBrowserAnimation 1s ease-in-out;
}

@keyframes arrowBrowserAnimation{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.3em);
    }
}

@media (max-width: 1224px){
    .arrowBrowser{
        margin-top: -2em;
        height: 3em;
        width: auto;
    }
}

@media (max-width: 860px){
    .arrowBrowser{
        margin-top: -2.5em;
        height: 2em;
        width: auto;
    }
}

@media (max-width: 700px){
    .arrowBrowser{
        margin-top: -4em;
        height: 1.5em;
        width: auto;
    }
}