.heapSort{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.originalValues{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.binaryTree{
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 0.9fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.circleValue0 { grid-area: 1 / 5 / 2 / 9; }
.circleValue1 { grid-area: 2 / 3 / 3 / 5; }
.circleValue2 { grid-area: 2 / 7 / 3 / 13; }
.circleValue3 { grid-area: 3 / 2 / 4 / 3; }
.circleValue4 { grid-area: 3 / 4 / 4 / 7; }
.circleValue5 { grid-area: 3 / 6 / 4 / 11; }
.circleValue6 { grid-area: 3 / 10 / 4 / 15; }
.circleValue7 { grid-area: 4 / 1 / 5 / 2; }
.circleValue8 { grid-area: 4 / 3 / 5 / 4; }
.circleValue9 { grid-area: 4 / 3 / 5 / 6; }
.circleValue10 { grid-area: 4 / 5 / 5 / 8; }
.circleValue11 { grid-area: 4 / 5 / 5 / 10; }
.circleValue12 { grid-area: 4 / 7 / 5 / 12; }
.circleValue13 { grid-area: 4 / 8 / 5 / 14; }
.circleValue14 { grid-area: 4 / 12 / 5 / 16; }

.circleValue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    width: 5rem;
    height: 5rem;
    place-self: center;
    border-radius: 100%;
    font-weight: bold;
    font-size: 2.2rem;
    background-color: green;
    box-shadow: 0px 0px 10px black;
}

.heapSort .arrowBrowser{
    margin-top: -1rem;
    height: 3rem;
}

/* user side */

.heapSortUser{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heapSortUser .selectedValueContainer{
    display: flex;
    text-align: center;
    justify-content: center;
}

.selectedValue{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 5px dashed green;
}

.nonHighlightSelectedValue{
    opacity: 0.2;
}

.heapSortUser .valuesToSortUser{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 3rem;
}

.valuesToSortUser .userValues{
    position: relative;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 1px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexPos{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -0.2em;
    margin-bottom: -1.1em;
    color: black;
    opacity: 0.5;
}


/* Mobile responsiveness */

@media (max-width: 1100px){
    .circleValue{
        background-color: red;
        padding: 0.2rem;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}

@media (max-width: 900px){
    .heapSort{
        justify-content: space-evenly;
    }
    .circleValue{
        padding: 0.1rem;
        background-color: aqua;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }
    .heapSort .arrowBrowser{
        margin-top: -2rem;
        height: 2rem;
    }
}

@media (max-width: 780px) {
    .circleValue{
        background-color: purple;
        padding: 0.1rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
    .heapSort .arrowBrowser{
        margin-top: -4rem;
        margin-left: -0.4rem;
        height: 1.5rem;
    }
    .heapSortUser .valuesToSortUser{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        row-gap: 0.1rem;
        column-gap: 1rem;
    }
}


@media (max-width: 600px) {
    .circleValue{
        background-color: pink;
        padding: 0.2rem;
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}

@media (max-width: 510px) {
    .circleValue{
        background-color: gray;
        padding: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
    }
    .originalValues{
        column-gap: 0.2rem;
        font-size: 1rem;
        margin-bottom: 4rem;
        justify-content: space-between;
    }
    .originalValues .orValues{
        flex: 1;
        font-size: 0.8rem;
        text-align: center;
    }
    .originalValues div{
        text-align: center;
    }
    .heapSort .arrowBrowser{
        margin-top: -5.8rem;
        margin-left: -0.7rem;
        height: 1rem;
    }
    .valuesToSortUser .userValues{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .selectedValue{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 388px) {
    .circleValue{
        background-color: blue;
        padding: 0.2rem;
        width: 1rem;
        height: 1rem;
        font-size: 0.6rem;
    }
    .originalValues{
        font-size: 0.8rem;
        margin-bottom: 4rem;
        justify-content: space-between;
    }
    .originalValues .orValues{
        flex: 1;
        font-size: 0.6rem;
        text-align: center;
    }
    .heapSort .arrowBrowser{
        height: 0.8rem;
        margin-top: -6rem;
        margin-left: -0.6rem;
    }
    .valuesToSortUser .userValues{
        width: 2rem;
        height: 2rem;
        font-size: 1.2rem;
    }
    .selectedValue{
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 288px) {
    .circleValue{
        background-color: brown;
        padding: 0.4rem;
        width: 0.4rem;
        height: 0.4rem;
        font-size: 0.7rem;
    }
    .originalValues{
        font-size: 0.8rem;
        margin-bottom: 4rem;
        justify-content: space-between;
    }
    .originalValues .orValues{
        flex: 1;
        font-size: 0.6rem;
        text-align: center;
    }
}