.heapSort{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 0.5rem;
    overflow: visible;
}

.originalValues{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
}

.binaryTree{
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(12, 0.9fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.circleValue0 { grid-area: 1 / 5 / 2 / 9; }
.circleValue1 { grid-area: 2 / 3 / 3 / 5; }
.circleValue2 { grid-area: 2 / 7 / 3 / 13; }
.circleValue3 { grid-area: 3 / 2 / 4 / 3; }
.circleValue4 { grid-area: 3 / 4 / 4 / 7; }
.circleValue5 { grid-area: 3 / 6 / 4 / 11; }
.circleValue6 { grid-area: 3 / 10 / 4 / 15; }
.circleValue7 { grid-area: 4 / 1 / 5 / 2; }
.circleValue8 { grid-area: 4 / 3 / 5 / 4; }
.circleValue9 { grid-area: 4 / 3 / 5 / 6; }
.circleValue10 { grid-area: 4 / 5 / 5 / 8; }
.circleValue11 { grid-area: 4 / 5 / 5 / 10; }
.circleValue12 { grid-area: 4 / 7 / 5 / 12; }
.circleValue13 { grid-area: 4 / 8 / 5 / 14; }
.circleValue14 { grid-area: 4 / 12 / 5 / 16; }

.circleValue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    width: 4.5rem;
    height: 4.5rem;
    place-self: center;
    border-radius: 100%;
    font-weight: bold;
    font-size: 2.2rem;
    background-color: green;
    box-shadow: 0px 0px 10px black;
}

.heapSort .arrowBrowser{
    margin-top: -1rem;
    height: 3rem;
}

.lineContainer{
    z-index: -1;
}

.treeEdge{
    stroke: white;
    stroke-dasharray: 6,6;
    stroke-width: 4;
}

/* user side */

.heapSortUser{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heapSortUser .selectedValueContainer{
    display: flex;
    text-align: center;
    justify-content: center;
}

.selectedValue{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: 5px dashed green;
}

.nonHighlightSelectedValue{
    opacity: 0.2;
}

.heapSortUser .valuesToSortUser{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    column-gap: 0rem;
}

.valuesToSortUser .userValues{
    position: relative;
    background-color: white;
    color: black;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 1px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indexPos{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -0.2em;
    margin-bottom: -1.1em;
    color: black;
    opacity: 0.5;
}


/* Mobile responsiveness */

@media (max-width: 1070px){
    .circleValue{
        padding: 0.3rem;
        width: 4rem;
        height: 4rem;
        font-size: 2.2rem;
    }
    .valuesToSortUser .userValues{
        width: 2.5rem;
        height: 2.5rem;
    }
    .selectedValue{
        width: 3.5rem;
        height: 3.5rem;
    }
}

@media (max-width: 950px){
    .binaryTree{
        row-gap: 1rem;
    }
    .circleValue{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
    }
    .lineContainer{
        top: 1rem;
    }
    .heapSort .arrowBrowser{
        height: 2.5rem;
        margin-left: -0.2rem;
    }
}

@media (max-width: 850px){
    .binaryTree{
        row-gap: 1.3rem;
    }
    .circleValue{
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }
    .heapSort .arrowBrowser{
        height: 2.5rem;
        margin-left: -0.4rem;
        margin-top: -1.8rem;
    }
}

@media (max-width: 756px){
    .heapSort{
        row-gap: 0;
    }
    .valuesToSortUser .userValues{
        width: 2rem;
        height: 2rem;
    }
    .selectedValue{
        width: 3rem;
        height: 3rem;
    }
    .binaryTree{
        row-gap: 1.4rem;
    }
    .circleValue{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2rem;
    }
    .heapSort .arrowBrowser{
        height: 2.2rem;
        margin-left: -0.5rem;
        margin-top: -2.8rem;
    }
}

@media (max-width: 635px){
    .binaryTree{
        row-gap: 1.5rem;
    }
    .heapSortUser .valuesToSortUser{
        flex-wrap: wrap;
        column-gap: 2rem;
    }
    .valuesToSortUser .userValues{
        width: 2rem;
        height: 2rem;
    }
    .originalValues{
        font-size: 1rem;
    }
    .circleValue{
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .heapSort .arrowBrowser{
        height: 1.5rem;
        margin-left: -0.4rem;
        margin-top: -3.8rem;
    }
}

@media (max-width: 540px){ 
    .binaryTree{
        row-gap: 2rem;
    }
    .originalValues{
        font-size: 0.8rem;
    }
    .circleValue{
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.3rem;
    }
    .heapSort .arrowBrowser{
        height: 1.2rem;
        margin-left: -0.5rem;
        margin-top: -4.8rem;
    }
}

@media (max-width: 450px){ 
    .binaryTree{
        row-gap: 3rem;
    }
    .originalValues{
        font-size: 0.6rem;
    }
    .circleValue{
        padding: 0.2rem;
        width: 1.2rem;
        height: 1.2rem;
        font-size: 1rem;
    }
    .lineContainer{
        top: 0.5rem;
    }
    .heapSort .arrowBrowser{
        height: 1.2rem;
        margin-left: -0.8rem;
        margin-top: -5.5rem;
    }
}

@media (max-width: 350px){ 
    .binaryTree{
        row-gap: 3.5rem;
    }
    .originalValues{
        font-size: 0.6rem;
    }
    .circleValue{
        padding: 0.1rem;
        width: 1.1rem;
        height: 1.1rem;
        font-size: 0.8rem;
    }
    .lineContainer{
        top: 1.2rem;
    }
    .heapSort .arrowBrowser{
        height: 1rem;
        margin-left: -0.8rem;
        margin-top: -5.7rem;
    }
    .heapSortUser .valuesToSortUser{
        column-gap: 1rem;
    }
    .valuesToSortUser .userValues{
        width: 1.5rem;
        height: 1.5rem;
    }
    .selectedValue{
        width: 2.5rem;
        height: 2.5rem;
    }
}