.mergeSort{
    display: flex;
    flex: 1;
}

.valuesToSortContainer {
    margin: -1rem;
    flex: 1;
    display: grid;
    align-items: center;
    place-items: center;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.valueToSort0 { grid-area: 1 / 2 / 2 / 3;}
.valueToSort1 { grid-area: 1 / 4 / 2 / 5; }
.valueToSort2 { grid-area: 1 / 6 / 2 / 7; }
.valueToSort3 { grid-area: 1 / 8 / 2 / 9; }
.valueToSort4 { grid-area: 1 / 10 / 2 / 11; }
.valueToSort5 { grid-area: 1 / 12 / 2 / 13; }
.valueToSort6 { grid-area: 1 / 14 / 2 / 15; }
.valueToSort7 { grid-area: 1 / 16 / 2 / 17; }
.valueToSort8 { grid-area: 2 / 2 / 3 / 4; }
.valueToSort9 { grid-area: 2 / 3 / 3 / 5; }
.valueToSort10 { grid-area: 2 / 6 / 3 / 8; }
.valueToSort11 { grid-area: 2 / 7 / 3 / 9; }
.valueToSort12 { grid-area: 2 / 10 / 3 / 12; }
.valueToSort13 { grid-area: 2 / 11 / 3 / 13; }
.valueToSort14 { grid-area: 2 / 14 / 3 / 16; }
.valueToSort15 { grid-area: 2 / 15 / 3 / 17; }
.valueToSort16 { grid-area: 3 / 3 / 4 / 5; }
.valueToSort17 { grid-area: 3 / 4 / 4 / 6; }
.valueToSort18 { grid-area: 3 / 5 / 4 / 7; }
.valueToSort19 { grid-area: 3 / 6 / 4 / 8; }
.valueToSort20 { grid-area: 3 / 11 / 4 / 13; }
.valueToSort21 { grid-area: 3 / 12 / 4 / 14; }
.valueToSort22 { grid-area: 3 / 13 / 4 / 15; }
.valueToSort23 { grid-area: 3 / 14 / 4 / 16; }
.valueToSort24 { grid-area: 4 / 5 / 5 / 7; }
.valueToSort25 { grid-area: 4 / 6 / 5 / 8; }
.valueToSort26 { grid-area: 4 / 7 / 5 / 9; }
.valueToSort27 { grid-area: 4 / 8 / 5 / 10; }
.valueToSort28 { grid-area: 4 / 9 / 5 / 11; }
.valueToSort29 { grid-area: 4 / 10 / 5 / 12; }
.valueToSort30 { grid-area: 4 / 11 / 5 / 13; }
.valueToSort31 { grid-area: 4 / 12 / 5 / 14; }

.valuesToSortContainer .valueToSort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2rem;
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 0;
    border: 3px dashed black;
    background-image: none;
    cursor: not-allowed;
}

.valuesToSortContainer .squaresColor1{
    background-color: lightgoldenrodyellow;
}
.valuesToSortContainer .squaresColor2{
    background-color: lightpink;
}
.valuesToSortContainer .squaresColor3{
    background-color: lightblue;
}
.valuesToSortContainer .squaresColor4{
    background-color: lightcoral;
}

/* user side */

.mergeSortUser{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.mergeSortUser .valuesToSortUserContainer{
    flex: 1;
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    padding: 1rem;
}

.userAttemptContainer{
    flex: 0.5;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
}

.userAttemptContainer .userAttempt{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 5px dashed black;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.5rem;
}

.valuesToSortUserContainer .valueToSortMerge{
    border-radius: 1rem;
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    min-width: fit-content;
}

/* mobile responsiveness */

@media (max-width: 1124px) {
    .valuesToSortContainer .valueToSort{
        padding: 0.5rem;
        font-size: 1.5rem;
    }
    .mergeSort .arrowBrowser{
        margin-top: -3.5rem;
        margin-left: -0.2rem;
    }
}

@media (max-width: 800px) {
    .valuesToSortContainer .valueToSort{
        padding: 0.2rem;
        font-size: 1.2rem;
    }
    .mergeSort .arrowBrowser{
        margin-top: -3.5rem;
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .valuesToSortContainer .valueToSort{
        font-size: 1.1rem;
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 500px) {
    .valuesToSortContainer .valueToSort{
        padding: 0.15rem;
        font-size: 0.75rem;
        width: 1rem;
        height: 1rem;
        border: 2px dashed black;
    }
    .mergeSort .arrowBrowser{
        margin-top: -5rem;
    }
}

@media (max-width: 380px) {
    .valuesToSortContainer .valueToSort{
        border: 1px dashed black;
        font-size: 0.5rem;
        padding: 0.25rem;
        width: 0.5rem;
        height: 0.5rem;
    }
    .mergeSort .arrowBrowser{
        margin-top: -5.5rem;
        margin-left: 0;
        height: 1.2rem;
    }
}

/* user side responsiveness */

@media (max-width: 1050px){
    .valuesToSortUserContainer .valueToSortMerge{
        width: 3.5rem;
        height: 3.5rem;
        font-size: 2rem;
    }
    .userAttemptContainer .userAttempt{
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
    }
}

@media (max-width: 860px){
    .valuesToSortUserContainer .valueToSortMerge{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }
    .userAttemptContainer .userAttempt{
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 736px){
    .valuesToSortUserContainer .valueToSortMerge{
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .userAttemptContainer .userAttempt{
        font-size: 1.2rem;
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media (max-width: 672px){
    .mergeSortUser .valuesToSortUserContainer, .userAttemptContainer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 0;
        align-items: center;
        place-items: center;
        padding: 0;
    }
}