.selectionSort{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.numbersToSort{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.values{
    text-align: center;
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 1.5rem;
    cursor: not-allowed;
}

.valueSorted{
    background-color:  rgba(97, 137, 47, 1);
}

.colorMeanings{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 0.25;
}

.sortedColor, .unsortedColor{
    display: flex;
    align-items: center;
}

#sorted, #unsorted{
    display: inline-block;
    margin: 0;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    align-items: center;
}

#sorted{
    background-color:rgba(97, 137, 47, 1);
}

#unsorted{
    background-color: white;
}

.currentValues{
    text-align: left;
    font-size: 2rem;
}


/* Styling for arrows */
.selectionSort .second{
    filter: brightness(50%);
}


/* Selection Sort User styling */

.selectionSortUser{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.userValuesToSort{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userValues{
    background-color: black;
    color: white;
    cursor: pointer;
}

.highlightBox{
    box-shadow: 0px 0px 1rem white;
}

.obscureUnselected{
    opacity: 50%;
}

/* mobile responsiveness */

@media (max-width: 1224px) {
    .values{
        width: 1.5rem;
        height: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 920px) {
    .userValuesToSort{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        row-gap: 1rem;
    }
    .userValuesToSort .values{
        width: 2rem;
        height: 2rem;
        padding: 2rem;
        font-size: 2rem;
        border-radius: 1.5rem;
    }
    .currentValues{
        font-size: 1.5rem;
    }
}

@media (max-width: 700px){
    .numbersToSort .values{
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 1rem;
    }
}

@media (max-width: 500px){
    .numbersToSort{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        row-gap: 1rem;
    }
    .userValuesToSort .values{
        width: 1.2rem;
        height: 1.2rem;
        padding: 1.2rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
    }
    .colorMeanings{
        margin-top: 1rem;
    }
}

@media (max-width: 300px){
    .numbersToSort .values{
        width: 0.8rem;
        height: 0.8rem;
        padding: 0.8rem;
        font-size: 0.8rem;
        border-radius: 0.5rem;
    }
    .currentValues{
        font-size: 1rem;
    }
}

@media (max-width: 290px){
    .userValuesToSort .values{
        width: 1rem;
        height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0.5rem;
    }
    .userSide{
        padding: 0.5rem;
    }
}