@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html, body, .App{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to right, #202020 , #222629);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.loading-icon {
    width: 4em;
    height: 4em;
    border: 5px solid #ccc;
    border-top: 5px solid darkgreen;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}